{% extends 'translate/base.html' %}

<!-- {% block title %}Accueil{% endblock %} -->

{% block content %}

 
<div class="container-fluid">
    <div style="background: grey;" class="container">
        <h1>Liste des Leçons</h1>
    </div>

    <div style="background:rgb(235, 224, 125);" class="container">
        <div class="row">
            <!-- Liste des leçons avec un lien vers chaque leçon -->
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Titre</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lesson in lessons %}
                        <tr>
                            <td scope="row">{{ lesson.number }}</td>
                            <td>
                                <a href="{% url 'translate:phrase_navigation' lesson_id=lesson.id current_id=1 %}">
                                    {{ lesson.title }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
      
        </div>
    </div>    
</div>

{%endblock %}
